/* You can add global styles to this file, and also import other style files */
table, th, td {
    border: 0px ;
    font-size: 12px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

tr {
    border: 1px ;
    font-size: 12px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

a {
    font-size: 20px;
}

